<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--настройка WCF-->
	<system.serviceModel>
		<services>
			<service name="WcfNamedPipes.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
				<endpoint address="net.pipe://localhost/Calculator/service"
                          binding="netNamedPipeBinding"
						  bindingConfiguration="NamedPipeBindingConfig"
                          name="QualityControlPipe"
						  contract="WcfNamedPipes.ICalculator" />

				<endpoint address="mex"
						  binding="mexNamedPipeBinding"
						  name="QualityControlPipeMex"
                          contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/Calculator/service" />
					</baseAddresses>

					<timeouts closeTimeout="00:00:30" openTimeout="00:00:30" />
				</host>

			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="CalculatorServiceBehavior">
					<!--разрешаем сервису отдавтать wsdl, для pipes должен быть оключен-->
					<serviceMetadata httpGetEnabled="false"/>
					<!--отдаем пока исключение в процесс отдладки-->
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<netNamedPipeBinding>
				<binding name="NamedPipeBindingConfig" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:05:00" maxBufferPoolSize="157286400"
				 maxBufferSize="31457280" maxConnections="30" maxReceivedMessageSize="31457280">
				</binding>
			</netNamedPipeBinding>
		</bindings>

	</system.serviceModel>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>