<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>
		<services>
			<service name="WcfNamedPipes.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/Calculator/service" />
					</baseAddresses>
				</host>
				
	            <!--NetPipe--> 
				<endpoint
				  address=""
				  binding="netNamedPipeBinding"
				  contract="WcfNamedPipes.ICalculator" name="NetPipe" />
				
	            <!--Mex (Net.Tcp / Net.Pipe )--> 
				<endpoint name="CalculatorPipeMex" address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CalculatorServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
	</system.serviceModel>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>