<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculator" />
                <binding name="WSHttpBinding_ICalculator1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceModelSamples/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
                contract="ServiceReference.ICalculator" name="WSHttpBinding_ICalculator">
                <identity>
                    <servicePrincipalName value="host/QWERTY-PC" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8088/ServiceModelSamples/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator1"
                contract="ServiceTopshelfReference.ICalculator" name="WSHttpBinding_ICalculator1">
                <identity>
                    <servicePrincipalName value="host/QWERTY-PC" />
                </identity>
            </endpoint>
            <endpoint address="http://127.0.0.1:12345/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyService" contract="WcfWithoutConfig.IMyService"
                name="BasicHttpBinding_IMyService" />
        </client>
    </system.serviceModel>
</configuration>
